@{
    ViewData["Title"] = "Data";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="get" enctype="multipart/form-data" asp-controller="Data" asp-action="Transform">
    <div class="form-group">
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Start Transform" />
        </div>
    </div>
</form>